# Ignore everything by default
*
**/**

# runtime files
!extension.js
!package.json
!jsconfig.json

!lib/**
!icons/**

# Documentation 
!README.md
!LICENSE
!CHANGELOG.md

# icons 
!icons/**
!vendor/**

# .vscodeignore itself 
!.vscodeignore

