# Ignore everything by default
*
**/**

# runtime files
!extension.js
!package.json

!lib/**
!icons/**
!vendor/**

# Documentation 
!README.md
!LICENSE
!CHANGELOG.md

# .vscodeignore itself 
!.vscodeignore

